@font-face {
  font-family: "BigFonte";
  src: url(fonts/AlexBrush-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #1E272D;
  line-height: 150%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:visited {
  color: #0088FF;
}
a:hover{
  color: orange;
}

p {
  margin: 30px 0px;
  color: white;
}

header {
  display: flex;
  align-items: flex-end;
  background-color: white;
  width: 100%;
 }

nav {
  width: 75%;
  margin: 0 auto;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content:space-around;
}
nav div {
  background-color: #5BBDBF;
  display: flex;
  position: relative;
  width: 100px;
  align-items: center;
}
nav div a {
  margin: auto;
}

nav div:first-child a {
  border-left:  none;
}


nav div:hover .submenu  {
  display: block;
}

.submenu {
  position: absolute;
  top: 50px;
  left: 0px;
  background-color: #aca;
  display: none;
}

.puce {
  visibility:hidden;
}

a:hover .puce{
  visibility:visible;
}

main {
  display: flex;
  flex-direction: column;
  align-items:center;
}

article {
  height:auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items:center;
}

article img {
  aspect-ratio: 16/9;
  padding: 15px;
  border-radius: 30px;
  z-index: 1;
}

article p {
  padding: 10px;
}

.article1 {
  display:flex;
  flex-direction: column;
  position: relative;
  background-color: #0099FF;
}

article:first-child div {
  display: flex;
}

.article2 {
  background-color:#215E86;
  height: 400px;
  z-index: 0;
}

.article3 , .article4 {
  background-color: #1C3647;
}


div .vague {
  position: relative;
  display: flex;
}

.vague {
  width:100%;
  height:100%;
  z-index: 1;
  position: relative;
}




/* .vague1 {
  background-color:#215E86;
  width:100%;
  margin-top: -1px;
}

.vague2 {
  background-color:#215E86;
  width:100%;
} */

.vague3 {
  background-color:#1C3647;
  width:100%;
  padding-bottom: -10px;
  margin-bottom: -1px;
}

.top {
}

.mid2 {
  background-color: #1C3647;
}

footer {
  height: 150px;
  background-color: #1E272D;
}