@font-face {
  font-family: "BigFonte";
  src: url(fonts/AlexBrush-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #1E272D;
  line-height: 150%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:visited {
  color: #0088FF;
}
a:hover{
  color: orange;
}

p {
  margin: 30px 0px;
  color: white;
}

header {
  display: flex;
  align-items: flex-end;
  background-color: #1E272D;
  width: 100%;
  padding-bottom: 6px;
  position: fixed;
  z-index: 2;
 }

nav {
  width: 75%;
  margin: 0 auto;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content:space-around;
}

nav div:first-child {
  border-radius: 0px 0px 50px 100px;
}

nav div {
  background: #215E86;
  border-radius: 0px 0px 50px 50px;
  display: inline-flex;
  position: relative;
  width: 200px;
  align-items: center;
  
}

nav div:hover {
  background: #3c8ec4;
  border-bottom: solid #215E86;
}

nav div a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav div:first-child a {
  border-left:  none;
}


nav div:hover .submenu  {
  display: block;
  background: #215E86;
  
  margin-top: 90px;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  
  z-index: 1;
}

.puce {
  visibility:hidden;
}

a:hover .puce{
  visibility:visible;
}



main {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.titre {
  display: flex;
  justify-content: center;
}

section {
  padding: 0 100px;
}
article {
  height:auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items:center;
}

.triple {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.triple img{
  border: 16px solid #1E272D;
border-radius: 9999px;
max-width: 300px;
padding: 5px;
transition: ease-in-out 300ms;
}

.triple img:hover{
  transform: scale(1.6);
  transition: ease-in-out 300ms;
}

article img {
  /* aspect-ratio: 16/9; */
  padding: 15px;
  border-radius: 30px;
}

article p {
  padding: 10px;
}

.article1 {
  display:flex;
  flex-direction: column;
  position: relative;
}

.article2 {
  height: 400px;
  z-index: 0;
}
.article3 , .article4 {
  background-color: #1C3647;
}


div .vague {
  position: relative;
  display: flex;
}

.vague {
  width:100%;
  height:100%;
  position: relative;
}

.vague1, .vague2, .vague3, .vague4 {
  width: 100%;
}


.vague1 {
  background-color:#215E86;
}

.vague2 {
  background-color:#215E86;
}

.vague3 {
  background-color:#1C3647;
}


.top {
  background-color:#0099FF;
}

.mid1 {
  background-color: #215E86;
}

.mid2 {
  background-color: #1C3647;
  margin-top: -1px;
}

footer {
  height: 150px;
  background-color: #121516;
  margin-top: -1px;
}

span {
  margin-bottom: 10px;
  content: ' ';
}